body{background-color: #f1f1f1;}
main{width:800px; margin:auto;}
.question{background-color:#fefff8;
    padding:30px;
    border-radius:10px;
    text-align:center;
    margin-top:20px;
    }
.question_select{display: flex; 
        justify-content: space-between;
        font-size:25px;
        }
input{width:20px;
    margin:10px;
}
.question_radio{
    display:flex;
    gap:30px;
}
*{
    margin: 0;
}
.startButton{
    display: inline-block;
    padding: 10px 20px;
    background-color: #4644e8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin:auto;
    transition: background-color 0.3s;
}
.startButton:hover {
    background-color: #06069b;
}
.link{
    text-align: center;
}
.introduction{
    text-align: center;
    margin:10px;
}
.background{
    background-color: #fff5e2;
    border-radius: 10px;
    padding:10px;
}